.navbar {
  z-index: 999;
  font-family: Raleway;
  display: flex;
  position: fixed;
  justify-content:center;
width: 100%;
  align-items: center;

  background-color: #424242;
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 10px
 
}
